<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>organizador de materias</title>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
 </head>
 <body>
    <h1 class="title">Bienvenido al organizador de materias</h1>
    <div class="main-section">
       
        <p>Por favor, inicia sesión o registrate si no tienes cuenta.</p>   
        <div class="buttons-section">
         <button class="login-button">Iniciar Sesión</button>
         <button class="register-button">Registrarse</button>
        </div>
       
    </div>
    <script src="/js/welcome.js"></script>
 </body>

</html>